<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>Asso Web Application</title>
    </head>
    <body>
        <h2 class="h2">Liste des utilisateurs</h2>
        <table>
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${users.empty}"> <-- users le nom de tableau -->
                    <td colspan="3">Aucun utilisateur en base de données</td>
                </tr>
                <tr th:each="user: ${users}"> 
                    <td><span th:text="${user.firstName}"> Prénom </span></td>
                    <td><span th:text="${user.lastName}"> Nom </span></td>
                    <td><span th:text="${user.age}"> Age </span></td>
                    <td>
						<a th:href="@{/updateUser/{id}(id=${user.id})}"><button class="btn btn-info">Modifier</button></a>
						<a th:href="@{/deleteUser/{id}(id=${user.id})}"><button class="btn btn-danger">Supprimer</button></a>						
					</td>
                </tr>
            </tbody>
        </table>
        <h4><a th:href="@{/createUser}">Ajouter un nouvel utilisateur</a></h4>
        <h4><a th:href="@{/contact}">contact</a></h4>
    </body>
</html>